//Importing styles
@use "Header/_styles";
@use "Card/_card";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-image: url("../src/assets/images/bgImage.jpg");
  min-height: 100vh;

  margin: 0 !important;

  font-family: "Open sans", sans-serif;
  &::before {
    content: "";
    position: fixed; /* fixed makes it stay in place while scrolling */
    inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0 */
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; /* ensures clicks pass through */
    z-index: -1;
  }
}
